ProfessionalWCFServicesSolution/Lam.Libraries.SOA.Proxies/Connected Services/CRMSystem/mex1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.lamresearch.com/contracts/services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schemas.lamresearch.com/contracts/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.lamresearch.com/contracts/services/Imports">
      <xsd:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd0" namespace="http://schemas.lamresearch.com/contracts/services" />
      <xsd:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd3" namespace="http://schemas.lamresearch.com/contracts/faults" />
      <xsd:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd2" namespace="http://schemas.lamresearch.com/contracts/data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomers_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.lamresearch.com/contracts/faults" name="detail" element="q1:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:FindCustomers" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_FindCustomers_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.lamresearch.com/contracts/faults" name="detail" element="q2:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetail" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomerDetail_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.lamresearch.com/contracts/faults" name="detail" element="q3:ServiceError" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerDetail" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_AddCustomerDetail_ServiceErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.lamresearch.com/contracts/faults" name="detail" element="q4:ServiceError" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetAllCustomers" message="tns:ICustomerService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetAllCustomersResponse" message="tns:ICustomerService_GetAllCustomers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetAllCustomersServiceErrorFault" name="ServiceErrorFault" message="tns:ICustomerService_GetAllCustomers_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindCustomers">
      <wsdl:input wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/FindCustomers" message="tns:ICustomerService_FindCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/FindCustomersResponse" message="tns:ICustomerService_FindCustomers_OutputMessage" />
      <wsdl:fault wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/FindCustomersServiceErrorFault" name="ServiceErrorFault" message="tns:ICustomerService_FindCustomers_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerDetail">
      <wsdl:input wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetCustomerDetail" message="tns:ICustomerService_GetCustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetCustomerDetailResponse" message="tns:ICustomerService_GetCustomerDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/GetCustomerDetailServiceErrorFault" name="ServiceErrorFault" message="tns:ICustomerService_GetCustomerDetail_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomerDetail">
      <wsdl:input wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/AddCustomerDetail" message="tns:ICustomerService_AddCustomerDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/AddCustomerDetailResponse" message="tns:ICustomerService_AddCustomerDetail_OutputMessage" />
      <wsdl:fault wsaw:Action="http://schemas.lamresearch.com/contracts/services/ICustomerService/AddCustomerDetailServiceErrorFault" name="ServiceErrorFault" message="tns:ICustomerService_AddCustomerDetail_ServiceErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>