ProfessionalWCFServicesSolution/Lam.Libraries.SOA.Proxies/Connected Services/CRMSystem/mex3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.lamresearch.com/contracts/services" elementFormDefault="qualified" targetNamespace="http://schemas.lamresearch.com/contracts/services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd2" namespace="http://schemas.lamresearch.com/contracts/data" />
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.lamresearch.com/contracts/data" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.lamresearch.com/contracts/data" minOccurs="0" name="FindCustomersResult" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.lamresearch.com/contracts/data" minOccurs="0" name="GetCustomerDetailResult" nillable="true" type="q3:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.lamresearch.com/contracts/data" minOccurs="0" name="customerDetail" nillable="true" type="q4:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCustomerDetailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>