ProfessionalWCFServicesSolution/Lam.Libraries.SOA.Proxies/Connected Services/CRMSystem/mex4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.lamresearch.com/contracts/" elementFormDefault="qualified" targetNamespace="http://schemas.lamresearch.com/contracts/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ramthinkpad:8989/mex?xsd=xsd2" namespace="http://schemas.lamresearch.com/contracts/data" />
  <xs:element name="RegisterUIType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uiType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUITypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyNewCustomerRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.lamresearch.com/contracts/data" minOccurs="0" name="newCustomerRecord" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>